*{
    margin: 0px;
    padding: 0px;
    color:rgb(255, 248, 248);
    font-family: courier,arial,helvetica;
    
}



h2{
    display: inline-block;
}

#biggerContainer{

    margin: auto;
    padding: 10px;
    width: 940px;
}

#rightContainer{
    float:right;
    width: 450px;
    height: 650px;
    background-color: #242D34;
    padding: 10px;
    border-left: solid ghostwhite;

}

#leftContainer{
    padding: 10px;
    width: 450px;
    height: 650px;
    background-color: #242D34;
    text-align: center;
    border-right: solid ghostwhite;
}

#titleDisplay{
    margin-bottom: px;
}

#displayContainer{
    width: 360px;
    height: 240px;
    font-weight: bold;
    background-color:  #0F1E23;
    border-radius: 5px;
    margin: auto;
    display: flex;
}



.rect{
    border-radius: 5px;
    /*height: 90px;/*Teste*/
    width: 50px;/**/
    height: 15px;/**/ 
}

#rect1{
    background-color: green;    
    
}

#rect2{
    /*display: none; */
    background-color: blue;
}

#rect3{
    /*display: none; */
    background-color: red;
}

#checkboxBoxesContainer{
    padding: 15px;
}

#visibilityContainer{
    padding:    10px;
    border: solid rgb(255, 248, 248); 
    border-width: 1px;
}


#dimensions{   
    padding-top: 15px; 
    margin-top: 10px;
    border: solid rgb(255, 248, 248); 
    border-width: 1px;
    height: 95px; 
}

#widthOfBoxesContainer{
    float: right;
    width: 210px;
    border-width: 1px;
    height: 95px;
    
}

#heightOfBoxesContainer{
    width: 210px;
    border-width: 1px;
    height: 95px; 

}



.leftBottomText{
    font-size: 0.7em;
}

.textToOptionalElements{
    display: inline;
}

.rangeBox{
    border-radius: 10px;
    height: 5px;
    outline: none;
    -webkit-appearance: none;
    width: 45px;
}

.rangeBoxWidth{

}

.rangeBoxHeight{
    
}


#propertiesContainer{

    text-align: center;
}

.individualPropertiesContainer{
    border: solid rgb(255, 248, 248); 
    border-width: 1px;
    font-size: 10px;
    margin: 5px;
}

input[type=radio]{
    height: 0.7em;
}

input[type=number]{
    height: 0.7em;
    color: #242D34; 
    font-size: 10px ;

}

.propertiesTitle{
    margin-bottom: 10px;
}

.field{
    margin-top: 20px;
}

.buttonReset{
    border-radius: 7px;
    background-color: #0F1E23 ;
}

.buttonReset:hover{
    background-color: #15333d ;

}